body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
}



/* HEADER - BOUTONS SIGN UP ET LOGIN  */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px 20px 0;
    background-color: #000;
}

.logo-movies-cut {
    width: 80px;
    margin-left: 10px;
}


.header ul, li {
    display: flex;
    list-style-type: none;
    padding-left: 30px;
}

.header ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
}


.header a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}



.header i {
    color: #fff;
    padding-right: 10px;
}




/* BANNIÈRE DU LOGO MOVIE */

.title-movie {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
}

.title-movie img {
    width: 100%;
}

.title-presentation h1 {
    padding: 20px;
    font-size: 20px;
    font-weight: 600;
}




/* SEARCH */

.search {
    display: flex;
    justify-content: center;
}

form {
    display: flex;
    justify-content: center;
    background: #fff;
    width: 90%;
    height: 55px;
}

input {
    flex: 1;
    border: none;
    outline: none;
    border-radius: 5px 0px 0px 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


input[type=text] {
    padding: 20px;
}

form button {
    background: tomato;
    padding: 10px 50px;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 0px 5px 5px 0px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    letter-spacing: 1px;
    font-family: 'Poppins', 'sans-serif';
    font-weight: 600;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

form button:hover {
    background: rgb(255, 124, 100);
}




/* CARDS MOVIES */

.block-cards-movies {
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin-left: 80px;
    
}

.flex-cards-movies {
    display: flex;
    justify-content: center;
    width: 90%;
}

.movie-card {
    max-width: 300px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    margin: 50px 20px;
    margin-top: 100px;
}

.movie-img img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.card-body {
    padding: 0px 20px 20px 20px;
}

.movie-title {
    font-size: 25px;
    font-weight: 600;
    margin: 20px auto;
}

.features {
    padding: 5px;
}

.movie-intro {
    margin: 19px 0 15px;
}


/* FOOTER */

footer {
    position: sticky;
    top: 1000px;
    display: flex;
    justify-content: center;
    background-color: #000;
    color: #fff;
    padding: 30px;
    margin-top: 60px;
}


/* IF THE MOVIE HAS BEEN CREATED SUCCESSFULLY */
.message {
    color: #fff;
    background-color: rgb(32, 161, 0);
    width: 40%;
    margin: -29px -208px 50px 10px;
    padding: 10px;
    border-radius: 0 0 5px 5px;
    width: 15%;
}

.message p {
    display: flex;
    justify-content: center;
    margin: auto;
    text-align: center;
}


/* PAGINATION */

.paginate {
    display: flex;
    justify-content: center;
}



/* SECTION CARD MOVIE - SINGLE MOVIE */

.back {
    display: flex;
    margin: 30px 0 0 30px;
    
}

.back a {
    display: flex;
    align-items: center;
    font-size: 25px;
    text-decoration: none;
    color: #000;
}

.back i {
    padding-right: 10px;
}


.container {
    margin-top: 100px;
    width: 100%;
}

.image-movie {
    display: flex;
    justify-content: center;
}

.image-movie img {
    width: 30%;
}

.title-single-movie {
    display: flex;
    justify-content: center;
}

span {
    display: flex;
    justify-content: center;
    font-weight: 600;
}

.title-story {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.story {
    display: flex;
    justify-content: center;
    max-width: 800px;
    margin: auto;
} 

.imdb {
    display: flex;
    justify-content: center;
    margin: 50px auto;
    text-decoration: none;
    background-color: red;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    width: 50%;
    transition: 0.3s ease-in-out;
}

.trailer {
    display: flex;
    justify-content: center;
    margin: 30px auto;
    text-decoration: none;
    background-color: #000;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    width: 50%;
    transition: 0.3s ease-in-out;
}

.imdb i {
    display: flex;
    align-items: center;
    padding-right: 10px;
}

.trailer i {
    display: flex;
    align-items: center;
    padding-right: 10px;
}

.imdb:hover {
    background-color: rgb(253, 63, 63);
}

.trailer:hover {
    background-color: rgb(75, 75, 75);
}

.slt {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.edit {
    margin-bottom: -25px;
    padding-right: 50px;
}

.edit a {
    text-decoration: none;
    color: #000;
    font-size: 25px;
}

.edit a i {
    padding: 10px;
}





/* SECTION ADD MOVIE */

.wrapper {
    max-width: 500px;
    width: 100%;
    height: 860px;
    background-color: rgb(212, 212, 212);
    margin: 100px auto;
    padding: 20px 70px 70px 70px;
    border-radius: 5px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.125);
}


.wrapper .title {
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgb(212, 212, 212);
    margin: 400px 0 0 -10px;
}

.wrapper .form .input-field {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
}

.wrapper .form .input-field:last-child {
    margin-bottom: 0;
}


.wrapper .form .input-field label {
    width: 40px;
    color: #757575;
    margin-right: 10px;
    font-size: 14px;
}

.wrapper .form .input-field .input,
.wrapper .form .input-field .textarea {
    width: 100%;
    outline: none;
    border: 1px solid #d5db9d;
    font-size: 15px;
    padding: 8px 10px;
    border-radius: 3px;
    transition: all 0.3s ease;
}

.wrapper .form .input-field .textarea {
    resize: none;
    height: 125px;
}

.wrapper .form .input-field .input:focus, 
.wrapper .form .input-field .textarea:focus {
    border: 2px solid #000;
}

.wrapper .form .input-field .poster-movie {
    width: 226px;
    margin: 5px;
}

.wrapper .form .input-field .button-submit {
    width: 100%;
    padding: 15px 5px;
    font-size: 15px;
    margin: 30px 10px 0px 10px;
    border: 0;
    background: tomato;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    border-radius: 5px;
    outline: none;
    transition: 0.3s ease-in-out;
}

.wrapper .form .input-field .button-submit:hover {
    background-color: rgb(255, 113, 88);
}


/* IF INPUTS ARE NOT COMPLETED */
.error-message {
    margin: 0;
    padding-top: 5px;
    font-size: 13px;
    color: rgb(223, 0, 0);
}


@media(max-width: 660px) {

    .wrapper {
        width: 60%;
    }
}




/* SECTION EDIT MOVIE */

.input-field img {
    width: 120px;
    padding-top: 10px;
}